In [1]:
from randan.descriptive_statistics import ScaleStatistics # интервальная статистика
import pandas as pd # для обработки и анализа структурированных данных
import numpy as np# для корректной работы рандана 
from randan.bivariate_association import Correlation

# Надежность-устойчивость: Индекс гендерного равенства Евросоюза за 2013-2023 гг. (Gender Equality Index, GEI, European Union)

Массив данных находится в папке: https://disk.yandex.ru/d/PWOTilngObaAJg 

Рейтинг за 2023 год на официальном сайте Евросоюза: https://eige.europa.eu/gender-equality-index/2023

In [2]:
# загружаем таблицу
df = pd.read_excel('eu.xlsx')

In [3]:
# в таблице 27 стран
df

,country,2013,2015,2017,2019,2020,2021,2022
0,Belgium,69.255331,70.187769,70.474560,71.1,71.441687,72.726502,74.196806
1,Bulgaria,55.038562,56.948777,57.994036,58.8,59.606546,59.858294,60.695323
2,Czech Republic,55.569285,56.740630,53.611364,55.7,56.244457,56.715098,57.239282
3,Denmark,75.224597,75.598727,76.787951,77.5,77.447242,77.763297,77.832795
4,Germany,62.605909,64.910869,65.477186,66.9,67.466058,68.551877,68.664431
5,Estonia,53.367682,53.450433,56.724697,59.8,60.666913,61.584712,61.025263
6,Ireland,65.383817,67.685833,69.499139,71.3,72.231582,73.142196,74.330251
7,Greece,48.614853,50.055128,49.952303,51.2,52.235349,52.518726,53.415973
8,Spain,66.379688,67.359214,68.347626,70.1,71.962767,73.663651,74.554945
9,France,67.504696,68.886260,72.582132,74.6,75.122390,75.546276,75.140792
10,Croatia,52.314106,52.581588,53.116835,55.6,57.915688,59.196592,60.689344
11,Italy,53.265529,56.546147,62.121375,63.0,63.514333,63.779630,65.046920
12,Cyprus,48.986893,50.595450,55.080854,56.3,56.894458,56.982728,57.279331
13,Latvia,55.221396,56.241925,57.859182,59.7,60.816337,62.091581,61.429621
14,Lithuania,54.913891,54.155955,56.763504,55.5,56.340093,58.418405,60.565021
15,Luxembourg,61.178793,65.936775,69.012588,69.2,70.304329,72.358149,73.544738
16,Hungary,52.370575,51.789074,50.847368,51.9,52.950048,53.375324,54.178202
17,Malta,54.403315,57.846640,60.094681,62.5,63.393367,65.043804,65.602472
18,Netherlands,73.973032,73.999726,72.870570,72.1,74.096840,75.912773,77.253751
19,Austria,58.669621,61.340528,63.332334,65.3,66.536671,67.978642,68.802012
20,Poland,55.457806,56.855561,56.840335,55.2,55.812098,56.555223,57.689636
21,Portugal,53.662975,54.430727,56.040984,59.9,61.284625,62.186960,62.811036
22,Romania,50.842551,51.164750,52.427772,54.5,54.445624,54.488183,53.736283
23,Slovenia,62.723993,66.058255,68.417850,68.3,67.725875,67.575399,67.529393
24,Slovakia,53.032009,52.428860,52.367419,54.1,55.453394,55.976051,55.973976
25,Finland,73.120014,74.415963,73.027023,73.4,74.653688,75.328453,75.416209
26,Sweden,80.132400,79.722271,82.569245,83.6,83.829444,83.937597,83.946452

In [4]:
# дескриптивная статистика
df.describe()

,2013,2015,2017,2019,2020,2021,2022
count,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,59.748642,61.034586,62.379293,63.596296,64.458959,65.305782,65.873713
std,8.785523,8.802987,8.917432,8.671460,8.577378,8.680998,8.678343
min,48.614853,50.055128,49.952303,51.200000,52.235349,52.518726,53.415973
25%,53.316605,53.803194,55.560919,55.650000,56.617276,57.700567,59.127329
50%,55.457806,56.948777,60.094681,62.500000,63.393367,63.779630,65.046920
75%,65.881753,67.522523,69.255864,70.600000,71.702227,72.934349,74.263528
max,80.132400,79.722271,82.569245,83.600000,83.829444,83.937597,83.946452

In [5]:
# проверяем нормальность распределения по каждому году
# тест Колмогорова-Смирнова
ss = ScaleStatistics(df, [2013], show_results=False, normality_test=True, normality_test_type='ks') 
ss.summary()

NORMALITY TESTS
------------------

,N,mode,median,mean,25%,75%,interquart. range,interquart. range (norm.),min,max,range,std,var,entropy coef.,quality var.
2013,27.0,48.614853,55.457806,59.748642,53.316605,65.881753,12.565148,0.398671,48.614853,80.1324,31.517547,8.785523,77.185421,1.0,1.0

Распределение данных за 2013 год не является нормальным (коэффициент 0,238 при значении p-value < 0,05). Применим метод Спирмена (как и для остальных рейтингов) для корреляционного анализа.

In [6]:
# корреляционный анализ значений рейтинга по годам, метод Пирсона
corr = Correlation(df, method = 'spearman', two_tailed = False, n_decimals=3)

CORRELATION SUMMARY (SPEARMAN METHOD, 1-TAILED)
------------------
The following variables were removed from the analysis since they do not belong to numerical dtypes: country

Note: Each empty index duplicates the previous one.
Maximum correlation is 0.996 (p-value 0.0) for variables 2021 and 2022,
minimum correlation is 0.88 (p-value 0.0) for variables 2013 and 2020.

In [7]:
# приводим в табличный вид для приложения в диссертации 
# метод Спирмена, для сравнения с другими рейтингами
corr.correlation_matrix

                          2013          2015          2017          2019  \
2013 Coefficient  1.000000e+00  9.737485e-01  9.255189e-01  8.840049e-01
     p-value               NaN  6.900112e-18  2.432085e-12  4.906474e-10
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01
2015 Coefficient  9.737485e-01  1.000000e+00  9.645910e-01  9.279609e-01
     p-value      6.900112e-18           NaN  2.766228e-16  1.624943e-12
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01
2017 Coefficient  9.255189e-01  9.645910e-01  1.000000e+00  9.627595e-01
     p-value      2.432085e-12  2.766228e-16           NaN  5.144677e-16
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01
2019 Coefficient  8.840049e-01  9.279609e-01  9.627595e-01  1.000000e+00
     p-value      4.906474e-10  1.624943e-12  5.144677e-16           NaN
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01
2020 Coefficient  8.797314e-01  9.255189e-01  9.621490e-01  9.951160e-01
     p-value      7.529439e-10  2.432085e-12  6.283423e-16  5.739439e-27
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01
2021 Coefficient  8.876679e-01  9.285714e-01  9.584860e-01  9.877900e-01
     p-value      3.353382e-10  1.465863e-12  1.954533e-15  5.201359e-22
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01
2022 Coefficient  8.956044e-01  9.377289e-01  9.633700e-01  9.810745e-01
     p-value      1.402709e-10  2.773832e-13  4.198175e-16  1.201239e-19
     N            2.700000e+01  2.700000e+01  2.700000e+01  2.700000e+01

                          2020          2021          2022
2013 Coefficient  8.797314e-01  8.876679e-01  8.956044e-01
     p-value      7.529439e-10  3.353382e-10  1.402709e-10
     N            2.700000e+01  2.700000e+01  2.700000e+01
2015 Coefficient  9.255189e-01  9.285714e-01  9.377289e-01
     p-value      2.432085e-12  1.465863e-12  2.773832e-13
     N            2.700000e+01  2.700000e+01  2.700000e+01
2017 Coefficient  9.621490e-01  9.584860e-01  9.633700e-01
     p-value      6.283423e-16  1.954533e-15  4.198175e-16
     N            2.700000e+01  2.700000e+01  2.700000e+01
2019 Coefficient  9.951160e-01  9.877900e-01  9.810745e-01
     p-value      5.739439e-27  5.201359e-22  1.201239e-19
     N            2.700000e+01  2.700000e+01  2.700000e+01
2020 Coefficient  1.000000e+00  9.945055e-01  9.902320e-01
     p-value               NaN  2.493797e-26  3.239032e-23
     N            2.700000e+01  2.700000e+01  2.700000e+01
2021 Coefficient  9.945055e-01  1.000000e+00  9.963370e-01
     p-value      2.493797e-26           NaN  1.584761e-28
     N            2.700000e+01  2.700000e+01  2.700000e+01
2022 Coefficient  9.902320e-01  9.963370e-01  1.000000e+00
     p-value      3.239032e-23  1.584761e-28           NaN
     N            2.700000e+01  2.700000e+01  2.700000e+01

Значения коэффициента корреляции Спирмена составляют от 0,88 для 2013 и 2020 года до 0,996 для 2021 и 2022 года при p-value менее 0,05. Рейтинг Евросоюза "Индекс гендерного равенства" обладает высокой надежностью-устойчивостью.